 
  .container-name-blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-name-blog h3 {
    color: #5e7094;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3vh;
    /* background-color: #f3f3f3; */
    text-align: center; 
    padding: 20px;
  }
  
  .container-name-blog-title {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #0a0a0a;
  }

  .galeria { 
    height: auto;
    font-family: 'open sans'; 
    text-align: center; 
    margin-bottom: 50px; 
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;

} 

.container-name-blog-title > h1{
    font-size: 25px;
    font-weight: 700;
}
 
.contenedor-galeria { 
    display: flex; 
    width: 80%; 
    margin: auto; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    border-radius: 3px;
    gap: 25px 
} 
 
.contenedor-galeria .imagen-viajes { 
    width: 30%; 
    position: relative; 
    height: 250px; 
    margin-bottom: 5px; 
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75) 
} 
 
.imagen-viajes img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 15px;
} 
 
.overlay { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    background: rgba(107, 149, 175, 0.781); 
    width: 100%; 
    height: 0; 
    overflow: hidden; 
    transition: .5s ease; 
     
} 
 
.arte-vino{ 
    color:  #7585a7; 
    font-size: 17px; 
} 
.overlay h2 { 
    color: #000000; 
    font-size: 25px;
    font-weight: 700;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    text-align: center; 
    transform: translate(-50%, -50%); 
    font-family: 'Poppins', sans-serif; 
} 
 
.imagen-viajes:hover .overlay { 
    height: 100%; 
    /* cursor: pointer; */ 
} 
 
@media screen and (max-width:1000px) { 
    .contenedor-galeria { 
        width: 95%; 
    } 
} 
 
@media screen and (max-width:700px) { 
    .contenedor-galeria { 
        width: 85%; 
    } 
 
    .contenedor-galeria .imagen-viajes { 
        width: 45%; 
    } 
} 
 
@media screen and (max-width:450px) { 
    h1 { 
        font-size: 22px; 
    } 
 
    .contenedor-galeria { 
        width: 90%; 
    } 
 
    .contenedor-galeria .imagen-viajes { 
        width: 80%; 
    } 
}
  

  
  