:root{
    --grey:#CBCBCB;
    --box-shadow: 0 5px 2px -2px rgba(0,0,0,.25);
    --border: 1px solid #CBCBCB;
}

* {
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-one, .header-two{
    height: 50px;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-one{
    background-color: #111111; 
}

.header-one .search{
    background-color: white;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-one .search i{
    width: 15px;
    height: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-one .search input{
    height: 25px;
    width: 225px;
}

.header-one .icons-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-one .icons-search i{
    color: white;
    font-size: 25px;
}

.fa-cart-shopping{
    position: relative;
    cursor: pointer;
}

.count-shopping-cart{
    position: absolute;
    background-color: red;
    color: #fff;
    width: 25px;
    height: 25px;
    top: 25px; right: 75px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-shopping-cart span{
    font-size: 12.5px;
    color: white;
}

.card-container-shopping-cart{
    position: absolute;
    background-color: var(--grey);
    top: 100px; right:0;
    width: 400px;
    height: auto;
    padding: 20px;
    border-top: var(--border);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.hidden-cart-shopping{
    display: none;
}

.cart-total{
    visibility: visible;
}

.cart-total.hidden{
    opacity: 1;
    visibility: hidden;
}

.all-product-delete{
    visibility: visible;
}

.all-product-delete.hidden{
    opacity: 1;
    visibility: hidden;
}

.cart-empty{
    opacity: 1;
    visibility: hidden;
}

.cart-empty.hidden{
    visibility: visible;
}

.header-two{
    background-color: black;
}

.header-two .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}

.header-two .title > h1{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.header-two .title > i{
    color: white;
    font-size: 25px;
}

.header-two nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-two nav ul a {
    
    color: white;
}

.open, .close{
    display: none;
}



.home{
    background-image: url(../Images/FondoViajerisimo.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.home .home-box{
    background-color: black;
    width: 800px;
    height: 100px;
    padding: 10px;
}

.home .home-box .flap{
    background-color: white;
    height: 20px;
    width: 100px;
    padding: 0px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2.5px;
}


.home .row{
    display: flex;
    gap: 10px;
}

.home .column{
    background-color: white;
    width: 33.33%;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
}

.home .column label{
    font-size: 12.5px;
}

.home .column .date{
    display: flex;
}

.home button{
    width: 100px;
}


.category{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
}

.all-product-delete{
    background-color: black;
}

.why-us, .recommended-trips, .trips-by-region, .subscriptions-trips{
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
}

.card-container-recommended-trips, .card-container-trips-by-region, .card-container-subscriptions-trips{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.why-us > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.why-us > div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.why-us > div div div{
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.why-us > div div div i{
    color: white;
    font-size: 35px;
}

.card{
    background-color: white;
    width: 300px;
    border: var(--border);
    border-radius: 25px;
    position: relative;
    text-align: center;
}


.card img{
    width: 298px;
    height: 200px;
    border-radius: 22.5px 22.5px 0px 0px;
    background-size: cover;
    background-position: center;
    
}

.card .position{
    position: absolute;
    top: 125px; left: 10px;
    text-align: left;
}

.card .position h3, .card-container-trips-by-region .position h3{
    font-weight: 900;
    font-size: 25px;
    color: white;
}

.card p{
    padding: 5px 10px;
    text-align: left;
}

.card button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card button a{
    color: white;
}


.trips-by-region > div img{
    width: 100%;
}

.card-subscriptions-trips{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: var(--border);
}

.all-trips{
    padding: 125px 50px 25px 50px;
}

.all-trips .filters{
    width: 20%;
}

.all-trips .card-container-all-trips{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}


.newslatter{
    margin-top: 25px;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.newslatter p{
    font-size: 17.5px;
    margin-bottom: 15px;
}

.newslatter input{
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--grey);
}

.newslatter button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 25px;
}


.footer{
    background-color: black;
    padding: 25px 75px;
}

.footer .links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .links div{
    width: 250px;
}

.footer .links div h3{
    font-size: 17.5px;
    color: white;
    margin-bottom: 10px;
}

.footer .links div p{
    color: white;
}

.footer .icons-rrss{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .icons-rrss button{
    background-color: var(--purple2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .icons-rrss button:hover{
    background-color: var(--purple1);
}

.footer .icons-rrss i{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    background-color: #111111;
    padding: 5px;
    text-align: center;
}




@media (max-width:991px){

    .open, .close{
         display: block;
     }
 
     .close{
         padding: 5px 10px;
         background-color: var(--grey);
     }
 
     .close i{
         font-size: 20px;
         color: var(--purple1);
     }
 
     .nav{
         opacity: 0;
         visibility: hidden;
         position: absolute;
         background-color: var(--grey);
         top: 0;
         left: 0;
         bottom: 0;
         height: 100vh;
         width: 200px;
         padding: 10px;
         box-shadow: var(--box-shadow);
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 5px;
     }
 
     .nav.visibility{
         opacity: 1;
         visibility: visible;
         z-index:1000;
     }
    }