:root{
    --black:#111111;
    --green:#446A12;
    --grey:#CBCBCB;
    --box-shadow: 0 5px 2px -2px rgba(0,0,0,.25);
    --border: 1px solid #CBCBCB;
}

* {
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-one, .header-two{
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-one{
    height: 25px;
    background-color: var(--green);
}

.header-two{
    height: 50px;
}

.header-two.abajo{
    background-color: black;
}

.header-two .title{
    width: 185px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.header-two .title i{
    color: var(--green);
    font-size: 25px;
}

.header-two .title h1{
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.header-two nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-two nav ul a {
    color: white;
}

.header-two .icons{
    width: 185px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.header-two .icons i{
    color: white;
    font-size: 25px;
}

.header-two .icons .fa-cart-shopping{
    position: relative;
    cursor: pointer;
}

.header-two .icons .count-shopping-cart{
    position: absolute;
    background-color: var(--green);
    color: #fff;
    width: 25px;
    height: 25px;
    top: 50px; right: 25px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-two .icons .count-shopping-cart .products-count-shopping-cart{
    color: white;
    font-size: 12.5px;
}

.header-two .icons .card-container-shopping-cart{
    position: absolute;
    background-color: white;
    width: 400px;
    height: auto;
    top: 75px; right:0;
    padding: 20px;
    border-top: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--grey);
    flex-direction: column;
    text-align: center;
    z-index: 1;
}

.all-product-delete{
    background-color: var(--green) !important;
}

.header-two .icons .card-container-shopping-cart h3{
    font-size: 25px;
    font-weight: 800;
}

.modal{
    width: auto;
    height: auto;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}











.botonBuscar{
    background-color: var(--green);
}

.row-shopping-cart{
    border-bottom: 1px solid var(--black);
    margin: 10px 0px;
}

#openModal{
    background-color: var(--green);
    padding: 5px 10px;
    margin: 10px;
    border-radius: 15px;
}

.hidden-cart-shopping{
    display: none;
}

.cart-total{
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.cart-total.hidden{
    opacity: 1;
    visibility: hidden;
}

.all-product-delete{
    visibility: visible;
}

.all-product-delete.hidden{
    opacity: 1;
    visibility: hidden;
}

.cart-empty{
    opacity: 1;
    visibility: hidden;
}

.cart-empty.hidden{
    visibility: visible;
}



.open, .close{
    display: none;
}

.home{
    background-image: url(../Images/FondoViajerisimo.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0,0,0,9));*/
}

.home .home-title{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}

.home .home-title h1{
    color: white;
    font-size: 50px;
    font-weight: 600;  
}

.home .home-title h3{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.home .home-title h3 i{
    color: var(--green);
    font-size: 40px;
}

.home .home-title h3 span{
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.home .home-title button{
    background-color: black;
    color: white;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
}

.home .home-title button:hover{
    background-color: var(--green);
}

.home .home-box{
    background-color: black;
    width: 800px;
    height: 100px;
    padding: 10px;
    z-index: 1;
}

.home .home-box .flap{
    background-color: white;
    height: 20px;
    width: 200px;
    padding: 0px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2.5px;
}


.home form{
    display: flex;
}

.home form .column{
    background-color: white;
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.home .column label{
    font-size: 12.5px;
}

.home .column .date{
    display: flex;
}

.home button{
    width: 100px;
}


.category{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding: 50px;
    text-align: center;
    font-weight: 800;
}

.all-product-delete{
    background-color: black;
}

.why-us, .recommended-trips, .trips-by-region, .subscriptions-trips{
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.card-container-recommended-trips, .card-container-trips-by-region, .card-container-subscriptions-trips{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.why-us > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-us > div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.why-us > div div div{
    background-color: var(--green);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.why-us > div div div i{
    color: white;
    font-size: 35px;
}

.recommended-trips{
    background-color: black;
}

.recommended-trips h2{
    color: white;
}

.card{
    position: relative;
    background-color: white;
    width: 300px;
    border-radius: 25px;
    text-align: center;
}

.card img{
    width: 300px;
    height: 225px;
    border-radius: 22.5px 22.5px 0px 0px;
    
}


.card .position{
    position: absolute;
    top: 140px; left: 10px;
    text-align: left;
}

.card .position h3, .card-container-trips-by-region .position h3{
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.card .position h4{
    top:0px;
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.card p:first-child{
    font-size: 12.5px;
    padding: 5px 10px;
    text-align: left;
    height: 70px;
}


.card button{
    background-color: black;
    color: white;
    width: auto;
    padding: 10px;
    margin-top: 5px;
    border-radius: 25px;
}

.card span, .product-price span{
    font-weight: 800;
    color: var(--green);
}

.product-price{
    padding: 20px 10px;
    text-align: left;
}


.card button a{
    color: white;
}

.card button:hover{
    background-color: var(--green);
}

.btn-add-cart{
    margin-bottom: 10px;
}

.trips-by-region > div img{
    width: 100%;
}




.card-container-all-trips{
    padding-top: 25px;
}

.all-trips-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-trips-by-region{
    position: relative;
}

.card-trips-by-region h3{
    position: absolute;
    top:210px; left: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.card-container-subscriptions-trips{
    padding: 0px 150px;
}

.card-subscriptions-trips{
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--border);
}

.card-subscriptions-trips h3{
    padding: 15px 0px;
    font-weight: 800;
    font-size: 25px;
    color: var(--green);
}

.card-subscriptions-trips .millas{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 12.5px;
}

.card-subscriptions-trips i{
    font-size: 50px;
    padding: 25px;
    color: var(--green);
}

.card-subscriptions-trips button{
    background-color: black;
    color: white;
    padding: 10px;
    width: auto;
    border-radius: 25px;
}

.card-subscriptions-trips button:hover{
    background-color: var(--green);
}


.all-trips, .all-trips-details{
    padding: 105px 50px 25px 50px;
    background-color: black;
}



.all-trips .card-container-all-trips{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}


.newslatter{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.newslatter p{
    font-size: 17.5px;
    margin-bottom: 15px;
}

.newslatter input{
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--grey);
}

.newslatter button{
    background-color: black;
    color: white;
    padding: 10px;
    width: auto;
    border-radius: 25px;
    margin-bottom: 50px;
}

.newslatter button:hover{
    background-color: var(--green);
}

.footer{
    background-color: var(--black);
    padding: 25px 75px;
}

.footer .links{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .links div{
    width: 250px;
}

.footer .links div h3{
    font-size: 17.5px;
    color: white;
    margin-bottom: 10px;
}

.footer .links div p{
    color: white;
}

.footer .icons-rrss{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .icons-rrss button{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer .icons-rrss button:hover{
    background-color: var(--green);
}

.footer .icons-rrss i{
    color: var(--black);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place{
    font-size: 12.5px !important;
    padding: 5px 10px;
    text-align: left;
    height: 70px;
}

.copyright{
    background-color: black;
    padding: 5px;
    text-align: center;
}

/* search */
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px;
    background-color: white;
    padding: 10px;
  }

  .searchContainer input{
    width: auto;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    background-color:var(--green);
    padding: 5px;
    flex-wrap: wrap;
  }
  
  .checkbox-container label {
    margin-right: 5px;
    font-size: 14px;
    text-align: justify;
    font-size: 12.5px;
  }
  
  .checkbox-container label::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
  }
  
  #inputSearch {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
  }

@media (max-width:991px){

    .open, .close{
         display: block;
     }
 
     .close{
         padding: 5px 10px;
         background-color: var(--grey);
     }
 
     .close i{
         font-size: 20px;
         color: var(--purple1);
     }
 
     .nav{
         opacity: 0;
         visibility: hidden;
         position: absolute;
         background-color: var(--grey);
         top: 0;
         left: 0;
         bottom: 0;
         height: 100vh;
         width: 200px;
         padding: 10px;
         box-shadow: var(--box-shadow);
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 5px;
     }
 
     .nav.visibility{
         opacity: 1;
         visibility: visible;
         z-index:1000;
     }
    }